/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    background-color: #e4eaf1;
}

/* Hero szekció */
.poop {
    size: 100pt;
    color: #ffffff;
    margin-top: 10px;
}

.hero {
    background-image: url(images/golden_circle.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.hero h2 {
    color: #333;
}

.hero p {
    font-size: 1.5rem;
}

/* Címsorok */
h2 {
    color: #2c3e50;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #3498db;
}

/* Kártya stílusok */
.card img:hover {
    transform: scale(1.1);
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Táblázat stílusok */
.table {
    margin: 20px 0;
    text-shadow: ;
    box-shadow: #33333346 0px 2px 3px;
}


/* Források stílusok */
#forrasok {
    color: #776e6e;
    font-style: italic;
}

/* Remove underline from links and change color on hover/focus */
#forrasok a {
    text-decoration: none;
    color: inherit;
}

#forrasok a:hover,
#forrasok a:focus {
    color: blue;
}